---
import Layout from "../layouts/Layout.astro";
import BusinessRegisterForm from "@/components/BusinessRegisterForm.jsx";
---

<Layout title="Registra Tu Negocio | Orbita">
  <div class="max-w-2xl mx-auto px-2">
    <h1 class="text-3xl font-bold mb-6">Registra Tu Negocio</h1>
    <p class="text-muted-foreground mb-8">
      Completa el formulario a continuación para publicar tu negocio en nuestra
      plataforma y alcanzar a más clientes.
    </p>

    <BusinessRegisterForm client:load />
  </div>
</Layout>
